---
interface Props {
  items: {
    src: string;
    alt: string;
    caption?: string;
  }[];
}

const { items } = Astro.props;
---

<figure class="flex flex-col items-center">
  <div class="flex w-full justify-center items-start gap-4">
    {items.map((item) => (
      <div class="flex flex-col items-center">
        <img src={item.src} alt={item.alt} class="max-w-full h-auto" />
        {item.caption && (
          <figcaption class="text-center mt-2">
            {item.caption}
          </figcaption>
        )}
      </div>
    ))}
  </div>
</figure>